@import "./variables";

._section-newsletter {
  background-color: $color-grey;
  text-align: center;

  h3 {
    font-size: 28px;
    padding-bottom: 30px;
  }

  input {
    height: 100%;
    width: 600px;
    padding: 10px 15px;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    font-size: 13px;
    transition: border-color 0.20s ease-in-out,box-shadow 0.20s ease-in-out;
    &:focus-visible {
      outline: none;
      border-color: #E2E2E2;
      box-shadow:  0 0 0 0.25rem rgb(118 118 118 / 25%);
    }

  }
}

._section-link{
  li{
    h4{
      font-weight: 900;
      font-size: 20px;
      padding-bottom: 28px;
    }
    h5{
      color: $text-grey;
      font-size: 15px;
      font-weight: 400;
      line-height: 190%;
    }
  }
}

._section-link-print {
  ul{
    li._link{
      padding: 15px 0 0 13px;
      p {
        font-size: 15px;
        font-weight: 500;
        padding-bottom: 15px;
        border-bottom: 1px solid #E2E2E2;
        position: relative;
        i{
          position: absolute;
          top: 2;
          left: -12px;
        }
      }
    }
  }
}



._section-social {
  border-top: 1px solid #E2E2E2;
  padding: 45px 0;
  position: relative;

  h5 {
    font-size: 14px;
    color: $text-grey;

    i {
      font-size: 10px;
      vertical-align: top;
    }
    span {
      color: black;
    }
  }

  ._icon-social {
    a {
      margin-left: 12px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      position: relative;
      vertical-align: middle;

      i {
        font-size: 19px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  } 

  ._btn-up-site{
    position: absolute;
    bottom: 0px;
    right: 90px;
    background-color: #474747;
    border-radius: 3px 3px 0 0;
    padding: 0px 17px;
    color: white;
    font-size: 22px;
  }
}