@import "./variables";

///// Section Text /////
._section-text {
  background-color: $color-grey;
  div {
    h5 {
      font-size: 12px;
      padding-bottom: 20px;
      letter-spacing: 5px;
      font-weight: 800;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      color: $text-grey;
    }
  }
}


///// Section Title /////
._section-title {
  text-align: center;
  h5 {
    font-size: 11px;
    padding-bottom: 20px;
    letter-spacing: 5px;
    font-weight: 800;
  }
  h3 {
   font-weight: 900;
   font-size: 38px;
   position: relative;
    
  &:after{
    content: "";
    background-color: #FF8D61;
    width: 75px;
    padding-top: 2px;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
  }
  }
}


///// Section Jumbotron /////
._section-jumbotron {
  background-image: url("./assets/featured_article_1_bg.jpg");
  background-size: cover;
  padding: 280px 100px 100px;
  color: white;
  margin-bottom: 70px;

  h5 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 6px;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 190%;
    padding-bottom: 30px;
  }
  a {
    i {
      padding-left: 8px;
    }
  }
}


///// Section Tutorials & Guides /////
._section-tutorial-guide {
  padding-bottom: 130px;

  ._section-mini-jumbotron {
    background-image: url("./assets/featured_article_2_bg.jpg");
    padding: 100px 100px;
    margin-bottom: 0;
  }

  ._section-mini-preview-article {
    padding-left: 15px;
    height: 100%;

    h3 {
      font-weight: 900;
      font-size: 30px;
      position: relative;
      padding-bottom: 40px;
       
     &:after{
       content: "";
       background-color: #FF8D61;
       width: 90px;
       padding-top: 2px;
       position: absolute;
       top: 60px;
       left: 0,
      }
    }

    ._mini-preview-article {
      height: calc(100% - 76px);
      padding-bottom: 8px;
      div {
        padding-top: 30px;
        img {
          width: 37%;
        }
        ._text-mini-preview{
          padding-top: 4px;
          padding-left: 15px;
          
          h5 {
            font-size: 16px;
            font-weight: 900;
            padding-bottom: 5px;
            line-height: 150%;
          }
          h4 {
            color: $text-grey;
            font-size: 12px;
          }
        }
      }
    }
  }
}



///// Section Banner Black /////
._section-banner-black {
  background-color: $color-dark;
  padding: 50px 0;
  text-align: center;
  h4 {
    font-size: 16px;
    font-weight: 800;
    color: white;

    i {
      padding-left: 8px;
    }
  }
}


///// Section Forum /////
._section-forum {
  background-color: $color-grey;

  ._section-forum-card {
    padding-bottom: 100px;
  }
}




///// Section Community /////
._section-community {
  background-image: url("./assets/join_now_cta_bg.jpg");
  background-size: cover;
  color: white;
  
  h3 {
    font-size: 45px;
    font-weight: 800;
    padding-bottom: 25px;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 25px;
    line-height: 190%;
  }
  a{
    i{
      padding-left: 8px;
      font-size: 12px;
    }
  }
}